[project]
name = "torchrunx"
channels = ["conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = "3.9"

[feature.package.pypi-dependencies]
torchrunx = {path = ".", editable = true}

[feature.dev.pypi-dependencies]
ruff = "*"
pyright = "*"
pytest = "*"
build = "*"
twine = "*"

[feature.extra.pypi-dependencies]
transformers = "*"
submitit = "*"
setuptools = "*"
accelerate = "*"

[environments]
default = { features = ["package", "dev"], solve-group = "default" }
dev = { features = ["dev"], solve-group = "default" }
extra = { features = ["package", "dev", "extra"], solve-group = "default"}
