[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "torchrunx"
version = "0.1.2"
authors = [
    {name = "Apoorv Khandelwal", email = "mail@apoorvkh.com"},
    {name = "Peter Curtin", email = "peter_curtin@brown.edu"},
]
description = "Automatically initialize distributed PyTorch environments"
readme = "README.md"
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
requires-python = ">=3.8.1"
dependencies = [
    "cloudpickle>=3.0.0",
    "fabric>=3.0.0",
    "torch>=2.0.0",
    "numpy",  # torch.distributed depends on numpy
]

[project.urls]
Repository = "https://github.com/apoorvkh/torchrunx.git"
Documentation = "https://torchrunx.readthedocs.io"

## Development tools

[tool.ruff]
include = ["pyproject.toml", "src/**/*.py", "tests/**/*.py"]
line-length = 100
src = ["src", "tests"]
[tool.ruff.lint]
select = ["E", "F", "I"]

[tool.pyright]
include = ["src", "tests"]
pythonVersion = "3.8"
pythonPlatform = "Linux"
