name: Readthedocs preview
on:
  pull_request_target:
    paths:
      - "docs/**"

permissions:
  pull-requests: write

jobs:
  documentation-links:
    runs-on: ubuntu-latest
    steps:
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "torchrunx"
          project-language: ""
          message-template: |
            ----
            Documentation preview: {docs-pr-index-url}"
