name: Run checks on push or PR to main

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

jobs:

  # TODO: Currently not super efficient because it will try to install the environment
  # check-lockfile:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: prefix-dev/setup-pixi@v0.8.1
  #       with:
  #         pixi-version: v0.25.0
  #         cache: true
  #         locked: true
  #         environments: >-
  #           default
  #           dev

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.25.0
          cache: true
          frozen: true
          environments: dev
          activate-environment: dev
      - run: ruff check
        if: success() || failure()
      - run: ruff format --check
        if: success() || failure()

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.25.0
          cache: true
          frozen: true
          environments: default
          activate-environment: default
      - run: pyright
